# Practical 7.	Write a program to perform the following operation using pandas library:
* a.	Create a dataframe with six columns and thirty rows with randomly generated numeric values.
* b.	Replace at least 20 values in the dataframe at randomly generated indexes to null values.
* c.	Determine the number of missing values in each attribute.
* d.	Remove the rows having more than 70% missing values. 
* e.	Normalize the attributes by mapping them to range 0 to 1.

# a.	Create a dataframe with six columns and thirty rows with randomly generated numeric values.

In [43]:
import pandas as pd 
import numpy as np

In [44]:
df=pd.DataFrame(np.random.randint(100,size=(30,6)),columns=list("ABCDEF"))

# b.	Replace at least 20 values in the dataframe at randomly generated indexes to null values.

In [47]:
random_indices = {
    col: np.random.choice(df.index, size=20, replace=False)
    for col in df.columns}



for col, indices in random_indices.items():
    df.loc[indices, col] = np.nan

In [93]:
df.head()

      A     B   C     D     E     F
0  17.0  99.0 NaN   NaN   NaN   NaN
1   NaN  41.0 NaN   5.0  51.0   NaN
2  63.0   NaN NaN   NaN   NaN  69.0
3   NaN  52.0 NaN  20.0   NaN  69.0
4   NaN   NaN NaN  61.0   NaN   NaN

# c.	Determine the number of missing values in each attribute.

In [54]:
df.isnull().sum()

A    20
B    20
C    20
D    20
E    20
F    20
dtype: int64

In [56]:
df.isna().sum()

A    20
B    20
C    20
D    20
E    20
F    20
dtype: int64

# d.	Remove the rows having more than 70% missing values.

In [66]:
import seaborn as sn 

df1=sn.load_dataset("penguins")

In [68]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

In [73]:
# Calculate the threshold for 70% missing values
threshold = 0.7 * len(penguins.columns)

# Remove rows with more than 70% missing values
penguins_filtered = penguins.dropna(thresh=threshold)

print("DataFrame information after removing rows with more than 70% missing values:")
print(penguins_filtered.info())

DataFrame information after removing rows with more than 70% missing values:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 342 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            339 non-null    object
 1   island             339 non-null    object
 2   bill_length_mm     340 non-null    float64
 3   bill_depth_mm      337 non-null    float64
 4   flipper_length_mm  340 non-null    float64
 5   body_mass_g        340 non-null    float64
 6   sex                330 non-null    object
dtypes: float64(4), object(3)
memory usage: 21.4+ KB
None

# e.	Normalize the attributes by mapping them to range 0 to 1.

In [87]:
from sklearn.preprocessing import MinMaxScaler


scaler = MinMaxScaler()
df_normalized = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)

In [90]:
df.head()

      A     B   C     D     E     F
0  17.0  99.0 NaN   NaN   NaN   NaN
1   NaN  41.0 NaN   5.0  51.0   NaN
2  63.0   NaN NaN   NaN   NaN  69.0
3   NaN  52.0 NaN  20.0   NaN  69.0
4   NaN   NaN NaN  61.0   NaN   NaN

In [92]:
df_normalized.head()

          A         B   C         D        E         F
0  0.164557  1.000000 NaN       NaN      NaN       NaN
1       NaN  0.408163 NaN  0.000000  0.69697       NaN
2  0.746835       NaN NaN       NaN      NaN  0.655172
3       NaN  0.520408 NaN  0.172414      NaN  0.655172
4       NaN       NaN NaN  0.643678      NaN       NaN