In [1]:
import sqlite3

# Delete all existing data from the table STUDENT
cursor.execute('DELETE FROM STUDENT')

# Create a connection with the database College.db
connection = sqlite3.connect('College.db')

# Create a cursor object
cursor = connection.cursor()

# Create a table STUDENT
cursor.execute('''
CREATE TABLE IF NOT EXISTS STUDENT(
    rollNumber INTEGER PRIMARY KEY,
    studName TEXT,
    class TEXT)
''')

# Insert rows into the table STUDENT
cursor.execute('''
INSERT INTO STUDENT(rollNumber, studName, class) VALUES(1, 'Alice', 'CS')
''')

cursor.execute('''
INSERT INTO STUDENT(rollNumber, studName, class) VALUES(2, 'Bob', 'IT')
''')

cursor.execute('''
INSERT INTO STUDENT(rollNumber, studName, class) VALUES(3, 'Charlie', 'ME')
''')

cursor.execute('''
INSERT INTO STUDENT(rollNumber, studName, class) VALUES(4, 'David', 'CE')
''')

# Commit the transaction
connection.commit()

# Execute a SELECT statement to fetch all rows from the table STUDENT
cursor.execute('SELECT * FROM STUDENT')

# Fetch all rows from the table STUDENT
students = cursor.fetchall()

# Print each row
for student in students:
    print(student)

# Close the connection
connection.close()

NameError: name 'cursor' is not defined

In [6]:
import sqlite3

# Create a connection with the database College.db
connection = sqlite3.connect('College.db')

# Create a cursor object
cursor = connection.cursor()

# Create a table STUDENT
cursor.execute('''
CREATE TABLE IF NOT EXISTS STUDENT(
    rollNumber INTEGER PRIMARY KEY,
    studName TEXT,
    class TEXT)
''')

# Insert rows into the table STUDENT
cursor.execute('''
INSERT INTO STUDENT(rollNumber, studName, class) VALUES(1, 'Alice', 'CS')
''')

cursor.execute('''
INSERT INTO STUDENT(rollNumber, studName, class) VALUES(2, 'Bob', 'IT')
''')

cursor.execute('''
INSERT INTO STUDENT(rollNumber, studName, class) VALUES(3, 'Charlie', 'ME')
''')

cursor.execute('''
INSERT INTO STUDENT(rollNumber, studName, class) VALUES(4, 'David', 'CE')
''')

# Commit the transaction
connection.commit()

# Execute a SELECT statement to fetch all rows from the table STUDENT
cursor.execute('SELECT * FROM STUDENT')

# Fetch all rows from the table STUDENT
students = cursor.fetchall()

# Print each row
for student in students:
    print(student)

# Close the connection
connection.close()

IntegrityError: UNIQUE constraint failed: STUDENT.rollNumber