# practicAL 5

# a.	Create a series from a dictionary representing the count of students in each class X, XI, and XII  as given below. 
## dictionary = { 'XII' : 25, 'XI' : 30, 'X' : 50 }
## Display the series 
## i) sorted on the index 
## ii) sorted on values

In [11]:
import pandas as pd

# Define the dictionary
dictionary = {'XII': 25, 'X': 30, 'XI': 20}   # this is giving key data in sequence

# Create the series
student_series = pd.Series(dictionary)

# Display the series sorted on index
sorted_by_index = student_series.sort_index()
print("Sorted on index:")
print(sorted_by_index)

# Display the series sorted on values
sorted_by_values = student_series.sort_values()      # this will give data in ascending order values
print("\nSorted on values:")
print(sorted_by_values)

Sorted on index:
X      30
XI     20
XII    25
dtype: int64

Sorted on values:
XI     20
XII    25
X      30
dtype: int64

# b.	Create a series from the numpy array of 10 randomly generated values. Find maximum and minimum values and their positions.

In [2]:
import numpy as np 
import pandas as pd

# generating random numbers btw 1 to 1000
rand_num=np.random.randint(1,100,size=10)
# providing index for the num
#label=['a', 'b', 'c', 'd', 'e',"f","g","h","i","j"]

# making series 
series=pd.Series(rand_num)

# finding max value and the positon 
max_value=series.max()
max_position= series.idxmax()


# finding min value and the position 

min_value= series.min()
min_positions= series.idxmin()
print(series)
print(f"max value in the series is : {max_value} and the index of max is: {max_position} ")
print(f"min value in the series is : {max_value} and the index of min  is: {min_positions} ")

0    39
1    52
2    20
3    37
4     8
5    62
6    35
7    54
8    36
9    76
dtype: int64
max value in the series is : 76 and the index of max is: 9
min value in the series is : 76 and the index of min  is: 4

# c.	Create a series as shown below with days of the week as index labels and forecasted maximum temperature as their associated values:

c.	Create a series as shown below with days of the week as index labels and forecasted maximum temperature as their associated values:

Monday	25
Tuesday	40
Wednesday	18
Thursday	27
Friday	32
Saturday	39
Sunday	28

Retrieve the temperature of the 4th day of the week as well as Tuesday.

In [36]:
import pandas as pd 


# providing data 
temperature_data={'Monday': 25, 'Tuesday': 40, 'Wednesday': 18, 'Thursday': 27, 'Friday': 32, 'Saturday': 39, 'Sunday': 28}

# making series
temperature_series=pd.Series(temperature_data)


# finding max temp and the day
max_tem=temperature_series.max()
position=temperature_series.idxmax()

# finding 4th day temp 
temperature_4th_day=temperature_series.iloc[3]

# finding tues tem

tues_temp=temperature_series.iloc[1]
print(f" temperature on 4 day is {temperature_4th_day}")
print(f" temperature on tuesday  is {tues_temp}")
print(f"the day on which the tewmperature is maximum is {max_tem} and the value is {position}")

 temperature on 4 day is 27
 temperature on tuesday  is 40
the day on which the tewmperature is maximum is 40 and the value is Tuesday

d.	Create two data frames for storing the results of class X students of sections A and B, where each dataframe comprises the following details: name, percentage, and qualifying status in preboard exams.

                     Section A                                                   Section B                                                       
	Name 	Percentage	Qualify
0	Aroma	79.5	yes
1	Kiran	29.0	no
2	Rayan	90.5	yes
3	Rohan	NaN	no
4	Amit	32.0	no
5	Yash	65.0	yes
6	Mona	56.0	yes
7	Kartik	NaN	NaN
8	Kavita	29.0	no
9	Pooja	89.0	Nan
		Name 	Percentage	Qualify
0	Parveen	89.5	yes
1	Ahil	92.0	yes
2	Shaila	90.5	yes
3	Shruti	91.5	yes
4	Mark	90.0	yes

In [13]:
import pandas as pd
import numpy as np

# data for section a 

section_a_data={"name": ["Aroma","Kiran","Raya","Rohan","Amit","Yash","Mona","Kartik","Kavita","Pooja"],

"Percentage":[79.5,29.0,90.5,"nan",32.0,65.0,56.0,"nan",29.0,89.0,],

"qualify":["yes","no","yes","no","no","yes","yes","an","no","nan"]}


# data for section b

section_b_data = {
    "name": ["Parveen", "Ahil", "Shaila", "Shruti", "Mark"],
    "Percentage": [89.5, 92.0, 90.5, 91.5, 90.0],
    "qualify": ["yes", "yes", "yes", "yes", "yes"]
}

# # creating data frames
df_section_a=pd.DataFrame(section_a_data)
df_section_b=pd.DataFrame(section_b_data)


# printing data 

print("section A")
print(df_section_a)
print("section B")
print(df_section_b)

#f_section_a.query("Percentage>=80")

section A
     name Percentage qualify
0   Aroma       79.5     yes
1   Kiran       29.0      no
2    Raya       90.5     yes
3   Rohan        nan      no
4    Amit       32.0      no
5    Yash       65.0     yes
6    Mona       56.0     yes
7  Kartik        nan      an
8  Kavita       29.0      no
9   Pooja       89.0     nan
section B
      name  Percentage qualify
0  Parveen        89.5     yes
1     Ahil        92.0     yes
2   Shaila        90.5     yes
3   Shruti        91.5     yes
4     Mark        90.0     yes

In [9]:
import pandas as pd
import numpy as np

# Define DataFrames for Section A and Section B
section_a = {
    "Name": ["Aroma", "Kiran", "Rayan", "Rohan", "Amit", "Yash", "Mona", "Kartik", "Kavita", "Pooja"],
    "Percentage": [79.5, 29.0, 90.5, np.nan, 32.0, 65.0, 56.0, np.nan, 29.0, 89.0],
    "Qualify": ["yes", "no", "yes", "no", "no", "yes", "yes", np.nan, "no", np.nan]
}

section_b = {
    "Name": ["Parveen", "Ahil", "Shaila", "Shruti", "Mark"],
    "Percentage": [89.5, 92.0, 90.5, 91.5, 90.0],
    "Qualify": ["yes", "yes", "yes", "yes", "yes"]
}

# Create DataFrames for Section A and Section B
df_section_a = pd.DataFrame(section_a)
df_section_b = pd.DataFrame(section_b)

# Display DataFrames for Section A and Section B
print("Section A:")
print(df_section_a)

print("\nSection B:")
print(df_section_b)

Section A:
     Name  Percentage Qualify
0   Aroma        79.5     yes
1   Kiran        29.0      no
2   Rayan        90.5     yes
3   Rohan         NaN      no
4    Amit        32.0      no
5    Yash        65.0     yes
6    Mona        56.0     yes
7  Kartik         NaN     NaN
8  Kavita        29.0      no
9   Pooja        89.0     NaN

Section B:
      Name  Percentage Qualify
0  Parveen        89.5     yes
1     Ahil        92.0     yes
2   Shaila        90.5     yes
3   Shruti        91.5     yes
4     Mark        90.0     yes

# e.	Merge the dataframes created in the previous part of the question to obtain the combined result of class X students in preboard exams.

In [10]:
pd.concat([df_section_a,df_section_b])

      Name  Percentage Qualify
0    Aroma        79.5     yes
1    Kiran        29.0      no
2    Rayan        90.5     yes
3    Rohan         NaN      no
4     Amit        32.0      no
5     Yash        65.0     yes
6     Mona        56.0     yes
7   Kartik         NaN     NaN
8   Kavita        29.0      no
9    Pooja        89.0     NaN
0  Parveen        89.5     yes
1     Ahil        92.0     yes
2   Shaila        90.5     yes
3   Shruti        91.5     yes
4     Mark        90.0     yes

# f.	Use the resultant dataframe obtained above to filter out students with 80 percentage and above. Also, determine the count of students with missing data.

In [12]:
# Filter students with 80 percentage and above
above_80_df_section_a = df_section_a.query("Percentage >= 80")
above_80_df_section_b = df_section_b.query('Percentage >= 80')

# Determine the count of students with missing data
missing_data_count_section_a = df_section_a.isna().sum().sum()
missing_data_count_section_b = df_section_b.isna().sum().sum()

# Display the results
print("\nStudents with 80 percentage and above in Section A:")
print(above_80_df_section_a)

print("\nStudents with 80 percentage and above in Section B:")
print(above_80_df_section_b)

print("\nCount of missing data in Section A:", missing_data_count_section_a)
print("Count of missing data in Section B:", missing_data_count_section_b)

Students with 80 percentage and above in Section A:
    Name  Percentage Qualify
2  Rayan        90.5     yes
9  Pooja        89.0     NaN

Students with 80 percentage and above in Section B:
      Name  Percentage Qualify
0  Parveen        89.5     yes
1     Ahil        92.0     yes
2   Shaila        90.5     yes
3   Shruti        91.5     yes
4     Mark        90.0     yes

Count of missing data in Section A: 4
Count of missing data in Section B: 0